html 
    head    
        title University Management System
        link(rel="stylesheet" href="/css/styles.css")
    body
      header
        a(href="/")
          h2 University Management System
        div.menu-items
          ul 
            li 
              a(href="/") Home  
            li 
              a(href="/all-courses") All Courses 
            li
              a(href="/Record") All Students
            li 
              a(href="/Performance") Students Performance
            li
              a(href="/about") About 
            li
              a(href="/login") Login 
      block content