
/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
}
header .menu-items{
    display: flex;
    flex-direction: row;

}
header .menu-items a{
    font-size: 17px;
    padding: 10px;

}
header .menu-items a:hover{
    color: grey;
}
header ul li{
    display: inline;
    list-style: none;
    float: left;
}

/* HOME css */
body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
    .home-section{
        display: flex;
        align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 700px;
}
.home-img{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

hr{
    width: 90%;
    color:black;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.about-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
}
.about-img{
    width: 400px;
}
.about-1, .about-2{
    padding: 10px;
}
.about-section2{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 800px;
}
.about-section2 img{
    width: 800px;
}
.about-section2 .row2 img{
    width: 500px;
}