include components/header
block content
    div.about-section
      div.about-1
        img(src="/img/home-bg.jpg").about-img
      div.about-2
        h2 About Us
        p Welcome to the University Management System, your comprehensive solution for managing all aspects of your university operations. This powerful platform is designed to streamline administrative tasks, enhance student experience, and provide valuable insights to university leadership.

    div.about-section2
      div
        img(src="/img/3.jpg")
        p(align="center") Efficiently manage student records, from enrollment to graduation. Securely store and access student details, including personal information, academic performance, and course enrollment. Automate processes like admissions, registration, and transcript generation to save time and reduce errors.
include components/footer
          
            
