include components/header
block content
    h1 All Courses
    table(border="1px")
      tbody
        tr
          th Course ID
          th Course Name
          th Description
        for row in courses
          tr  
            td= row.id
            td 
              a(href="course-detail/"+row.id) #{row.name}
            td= row.description
include components/footer
          
            
