doctype html
html
  head
    title University Login
  body
    
    h1(style="text-align: center;") University Login
    form(action='/login', method='post')
      div
        label(for='email') Email:
        input(type='email', id='email', name='email', required)
      div
        label(for='password') Password:
        input(type='password', id='password', name='password', required)
      div
        button(type='submit') Login
    if message
      p.error= message
